body {
    padding: 100px;
    background-color: aliceblue;
}
#submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw {
    background-color: lightsalmon;
}
.balance {
    background-color: orange;
}
.status {
    padding: 5px;
    color: white;
    font-size: 20px; 
    text-align: center;
    border: 10px solid salmon;
    border-radius: 10px;
    height: 100px;
}
/* .deposit {
    margin: 0 10px;
} */